<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.library.modules.mapper.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.whu.library.modules.pojo.Book">
        <id column="id" property="id" />
        <result column="document_id" property="documentId" />
        <result column="ISBN" property="isbn" />
        <result column="author_list" property="authorList" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, document_id, ISBN, author_list
    </sql>

</mapper>
