<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.library.modules.mapper.JournalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.whu.library.modules.pojo.Journal">
        <id column="id" property="id" />
        <result column="document_id" property="documentId" />
        <result column="name" property="name" />
        <result column="scope" property="scope" />
        <result column="editor_list" property="editorList" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, document_id, name, scope, editor_list
    </sql>

</mapper>
