<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whu.library.modules.mapper.ReaderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.edu.whu.library.modules.pojo.Reader">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="username" property="username" />
        <result column="address" property="address" />
        <result column="phone_number" property="phoneNumber" />
        <result column="reader_type" property="readerType" />
        <result column="num_of_reserving" property="numOfReserving" />
        <result column="num_of_borrowing" property="numOfBorrowing" />
        <result column="total_borrow" property="totalBorrow" />
        <result column="fine" property="fine" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, password, username, address, phone_number, reader_type, num_of_reserving, num_of_borrowing, total_borrow, fine
    </sql>

    <select id="findAllByAccount" parameterType="java.lang.String" resultType="cn.edu.whu.library.modules.pojo.Reader">
        select * from reader where account = #{account}
    </select>
</mapper>
